[submodule "app/Plugin/Media"]
	path = app/Plugin/Media
	url = https://github.com/programadoramauri/CakePHP-Media-Plugin.git
[submodule "app/Plugin/Attach"]
	path = app/Plugin/Attach
	url = https://github.com/krolow/Attach.git
[submodule "Attach"]
	path = Attach
	url = https://github.com/krolow/Attach.git
